.img-con{
    outline: 1px solid gray;
    
    width:230px;
    height: 230px;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:23%;
    top:-20%;
}
.img-con img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}
input[type='file']{
    display: none;
}
